<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
      layout:decorate = ~{layout}>

    <body layout:fragment = "body">
        <div class="container">


            <form th:action="@{/Alumno/GetAllDinamico}" method="post" th:object="${alumnoBusqueda}">

                <div class="row">

                    <div class="row col-8">
                        <div class="col">
                            <label for="NombreAlumno" class="form-label fw-bold">Nombre</label>
                            <input id="NombreAlumno" type="text" class="form-control" placeholder="Nombre" th:field="*{Nombre}" onkeypress="return SoloLetras(event, this)">

                        </div>
                        <div class="col">
                            <label for="ApellidoPaternoAlumno" class="form-label fw-bold">Apellido Paterno</label>
                            <input id="ApellidoPaternoAlumno" type="text" class="form-control" placeholder="Apellido Paterno" th:field="*{ApellidoPaterno}" >
                            <span id="ApellidoPaternoAlumnoError" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label for="ApellidoMaternoAlumno" class="form-label fw-bold">Apellido Materno</label>
                            <input id="ApellidoMaternoAlumno" type="text" class="form-control" placeholder="Apellido Materno" th:field="*{ApellidoMaterno}">
                        </div>
                    </div>
                    <div class="row col-4">
                        <label for="semestreAlumno" class="form-label fw-bold">Semestre</label>
                        <select id="semestreAlumno" class="form-select" aria-label="Default select example" th:field="*{Semestre.IdSemestre}">
                            <option value=0 selected>Selecciona un semestre</option>
                            <option th:each="semestre : ${semestres}" th:value="${semestre.IdSemestre}" th:text="${semestre.Nombre}">One</option>
                        </select>
                    </div>
                </div>


                <button type="submit" class="btn btn-success mt-4 w-100 fw-bold" >Buscar</button>
            </form>

            <a class="btn btn-primary"  th:href="@{/Alumno/Form/0}" ><i class="bi bi-person-add"></i> Agregar alumno</a>
            <table class="table table-dark table-striped">
                <thead>
                    <tr> 
                        <th class="col-1">Editar</th>
                        <th class="col-1">Imagen</th>
                        <th class="col-3">Nombre</th>
                        <th class="col-2">Username</th>
                        <th >Contacto</th>
                        <th >Direccion</th>
                        <th >Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alumnoDirecciones : ${listaAlumnos}">
                        <td><a class="btn btn-warning" th:href="@{/Alumno/Form/{IdAlumno}(IdAlumno = ${alumnoDirecciones.Alumno.IdAlumno})}"><i class="bi bi-pencil-square"></i></a></td>
                        <td><img style="max-width: 75px" th:src="${alumnoDirecciones.Alumno.Imagen != null} ?
                                 'data:image/png;base64,' + ${alumnoDirecciones.Alumno.Imagen} :
                                 'https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'" /></td>
                        <td th:text="|${alumnoDirecciones.Alumno.Nombre} ${alumnoDirecciones.Alumno.ApellidoPaterno}|"></td>
                        <td th:text="${alumnoDirecciones.Alumno.Username}"></td>
                        <td></td>
                        <td><ul><li th:each="direccion : ${alumnoDirecciones.Direcciones}" th:text="|${direccion.Calle} ${direccion.NumeroInterior} ${direccion.NumeroExterior}, ${direccion.Colonia.Nombre}|"></li></ul></td>
                        <td><a class="btn btn-danger" th:href="@{|/Alumno/deleteAlumno/${alumnoDirecciones.Alumno.IdAlumno}|}" ><i class="bi bi-trash3-fill"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
        </script>
    </body>
</html>
